body {
  text-align: center;
  background-color: #000b3f;
  background-image: url('../components/images/bluefood.png');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;

}

::-webkit-scrollbar {
  display: none;
}